.cls-1,
.cls-19 {
  fill: none;
}
.cls-2 {
  opacity: 0.2;
}
.cls-3 {
  fill: url(#未命名的渐变_136);
}
.cls-4 {
  opacity: 0.4;
}
.cls-5 {
  fill: url(#未命名的渐变_136-2);
}
.cls-6 {
  fill: url(#未命名的渐变_136-3);
}
.cls-7 {
  fill: #fff;
}
.cls-27,
.cls-29,
.cls-31,
.cls-33,
.cls-8 {
  isolation: isolate;
}
.cls-9 {
  fill: url(#未命名的渐变_76);
}
.cls-10 {
  fill: url(#未命名的渐变_21);
}
.cls-11 {
  fill: url(#未命名的渐变_40);
}
.cls-12 {
  fill: url(#未命名的渐变_4);
}
.cls-13 {
  fill: url(#未命名的渐变_32);
}
.cls-14 {
  fill: #2177ca;
}
.cls-15 {
  fill: url(#未命名的渐变_21-2);
}
.cls-16 {
  fill: url(#未命名的渐变_4-2);
}
.cls-17 {
  fill: url(#未命名的渐变_207);
}
.cls-18 {
  fill: url(#未命名的渐变_172);
}
.cls-19 {
  stroke: #15dbe5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1.01px;
}
.cls-20 {
  fill: #ffd522;
}
.cls-21 {
  fill: url(#未命名的渐变_107);
}
.cls-22 {
  fill: url(#未命名的渐变_107-2);
}
.cls-23 {
  fill: url(#未命名的渐变_76-2);
}
.cls-24 {
  fill: url(#未命名的渐变_207-2);
}
.cls-25 {
  clip-path: url(#clip-path);
}
.cls-26,
.cls-27 {
  fill: orange;
}
.cls-27,
.cls-33 {
  opacity: 0.4;
}
.cls-28,
.cls-29 {
  fill: #5bc40b;
}
.cls-29,
.cls-31 {
  opacity: 0.6;
}
.cls-30,
.cls-31 {
  fill: #0081d8;
}
.cls-32,
.cls-33 {
  fill: #3cc;
}
